.git
__pycache__
*.pyc
*.pyo
*.pyd
venv/
**/kg_paths
**/open_library
**/processed/complete-metadata
**/processed/legacy
**/processed/ids_in_categories
**/saved_data
**/wikidata
**/neo4j_notes
**/notes_on_paths
**/wikidata_labels.csv
**/wikidata_triples.csv
**/selected_properties.csv
**/nodes_og.csv
**/relationships_og.csv
source_models
wandb
target_models
neo4j